
.parallax_box {
    display: grid;
    /* height: 100%; */
    transform-style: preserve-3d;
    position: relative;
    /* animation: automove 4s infinite; */
    /* perspective-origin: center; */
    margin: 20px auto;
}
.parallax_box img {
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
    opacity: 0;
    position: absolute;
    left: 50%;
}

#enable-motion.before-click {
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
    transition-timing-function: ease-out;
    bottom: 10%;
    opacity: 1;
}

#enable-motion.after-click {
    bottom: 9%;
    opacity: 0;
}

/*
@keyframes automove {
    0% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    25% {
        transform: rotateX(-20deg) rotateY(20deg);
    }
    50% {
        transform: rotateX(-20deg) rotateY(-20deg);
    }
    75% {
        transform: rotateX(20deg) rotateY(-20deg);
    }
    100% {
        transform: rotateX(20deg) rotateY(20deg);
    }
} */